* {
  box-sizing: border-box;
}



/* LARGE - For device-widths 1025 and higher: */

@media screen and (min-width: 1025px) {


  /* unvisited link */
a:link {
  color: rgb(75, 75, 75);
}

/* visited link */
a:visited {
  color: rgb(153, 153, 153);
}

/* mouse over link */
a:hover {
  color: rgb(187, 187, 187);
}

/* selected link */
a:active {
  color: rgb(41, 41, 41);
}


  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    background-color: white;
    max-width: 2400px;
  }

  main {
    background-color: white;
  }

  #globe {
    width: 60px;
    position: relative;
    left: 130px;
    top: 510px;
    z-index: 2;
  }

  .portraitContainer {
    width: 250px;
    height: 400px;
    position: absolute;
    margin-left: 17vw;
    margin-top: 40px;
    z-index: 1;
  }

  #portrait {
    width: 250px;
    height: 375px;
    border-radius: 5px;
    border: 1px solid transparent;
  }

  .portraitContainerSquare {
    display: none;
  }

  #portraitSquare {
    display: none;
  }

  #palmLeaf {
    width: 500px;
    height: 500 px;
    position: absolute;
    left: 100px;
    top: 90px;
    z-index: 2;
  }

  #rod {
    display: none;
    position: absolute;
    left: 400px;
    top: -450px;
    z-index: 2;
  }

  nav {
    width: 250px;
    height: 20px;
    background-color: transparent;
    margin-top: 20px;
  }

  .navUnorderedList {
    color: black;
    margin-top: 0;
    padding-left: 30px;
    background-color: transparent;
  }

  .navList {
    list-style: none;
    display: inline-block;
    font-weight: 400;
    font-size: 12pt;
    color: black;
  }

  #navProjects {
    background-color: transparent;
  }

  #navAboutMe {
    background-color: transparent;
  }

  #navContact {
    background-color: transparent;
  }

  #pyramid {
    width: 300px;
    position: absolute;
    left: 200px;
    top: 1800px;
    z-index: 2;
  }

  .diamond {
    font-weight: 200;
  }
  
  header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    width: 500px;
    height: 60px;
    margin-left: 40vw;
    padding-left: 30px;
  }
  
  .bio {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    background-color: white;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    margin-left: 40vw;
    margin-bottom: 300px;
    margin-top: 40px;
    padding: 30px;
  }

  .arrow {
    font-size: 30pt;
    font-weight: 200;
  }

  #projectsLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    height: 100px;
    margin-left: 40vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: transparent;
  }
  
  .pyramidQuiz {
    height: 1500px;
    max-width: 2400px;
    margin: 0px auto;
    margin-bottom: 60px;
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: whitesmoke;
  }

  #pyramidQuizIpad {
    width: 70%;
    border-radius: 5px;
    padding-top: 0px;
    position: relative;
    left: 150px;
    border: solid 3px black;
  }

  #pyramidQuizMobile {
    height: 475px;
    border-radius: 5px;
    border: solid 3px black;
    position: relative;
    left: 80px;
    top: 40px;
  }

  .pyramidQuizHeading {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 500px;
    height: 60px;
    margin-left: 40vw;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-left: 30px;
  }

  .pyramidQuizDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    border-radius: 6px;
    width: 500px;
    height: 300px;
    margin-left: 40vw;
    margin-top: 40px;
    padding: 30px;
  }

  .pyramidButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin-left: 40vw;
    margin-top: 100px;
    padding: 30px;
  }

  #pyramidViewLiveButton {
    margin-right: 5px;
    font-size: 15pt;
    cursor: pointer;
  }

  #pyramidViewCodeButton {
    margin-left: 5px;
    font-size: 15pt;
    cursor: pointer;
  }

  #aboutMeLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    margin-left: 40vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: white;
  }

  .aboutMe {
    height: 1400px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding-top: 20px;
    background-color: whitesmoke;
  }

  .aboutMeHeading {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    margin-left: 40vw;
    margin-top: 100px;
    padding-left: 30px;
  }

  .aboutMeDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    border-radius: 6px;
    width: 500px;
    margin-left: 40vw;
    margin-top: 40px;
    padding: 30px;
  }

  .goToRodellWarnerButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
  }

  #goToRodellWarnerButton {
    font-size: 15pt;
    cursor: pointer;
  }

  #contactLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    margin-left: 40vw;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
  }

  .contact {
    margin: 0px auto;
    background-color: whitesmoke;
  }

  .contactDetails {
    position: relative;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    width: 500px;
    margin-left: 40vw;
    padding: 30px;
  }

  .button {
    text-align: center;
    font-weight: 600;
    height: 40px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: transparent;
  }

  .footer {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    color: white;
    height: 200px;
    width: 100vw;
    background-color: black;
    position: relative;
    padding-top: 100px;
    bottom: 0;
  }

}




/* MEDIUM - For device-widths no larger than 1024 and no smaller than 376px: */

@media screen and (min-width: 376px) and (max-width: 1024px) {



     /* unvisited link */
  a:link {
    color: rgb(75, 75, 75);
  }

  /* visited link */
  a:visited {
    color: rgb(153, 153, 153);
  }

  /* mouse over link */
  a:hover {
    color: rgb(187, 187, 187);
  }

  /* selected link */
  a:active {
    color: rgb(41, 41, 41);
  }


  /* MEDIUM */

  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    background-color: white;
    max-width: 2400px;
  }

  /* MEDIUM */

  main {
    background-color: white;
  }

  /* MEDIUM */

  #globe {
    width: 80px;
    position: relative;
    left: 270px;
    top: 0px;
    z-index: 2;
  }

  /* MEDIUM */

  .portraitContainer {
    display: none;
  }

  /* MEDIUM */

  #portrait {
    display: none;
  }

  /* MEDIUM */

  #portraitSquare {
    width: 120px;
    height: 120px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 30px;
    position: absolute;
    margin: 0 auto;
    margin-top: 60px;
    z-index: 1;
  }

  /* MEDIUM */

  #palmLeaf {
    width: 300px;
    height: 500 px;
    position: absolute;
    left: 250px;
    top: -10px;
    z-index: 2;
    transform: rotate(5deg);
  }

  /* MEDIUM */

  #rod {
    display: none;
    position: absolute;
    left: 400px;
    top: -450px;
    z-index: 2;
  }

  /* MEDIUM */

  #pyramid {
    width: 80px;
    position: absolute;
    left: 20px;
    top: 1200px;
    z-index: 2;
  }

  /* MEDIUM */

  .diamond {
    font-weight: 200;
    margin-top: 0px;
  }

  /* MEDIUM */
  
  header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 500px;
    height: 60px;
    margin-left: 15vw;
    margin-bottom: 0px;
    margin-top: 140px;
    padding-left: 30px;
  }

  /* MEDIUM */
  
  .bio {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    background-color: white;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    margin-left: 15vw;
    margin-bottom: 100px;
    margin-top: 0px;
    padding: 30px;
  }

  /* MEDIUM */

  .arrow {
    font-size: 30pt;
    font-weight: 200;
  }

  /* MEDIUM */

  #projectsLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    height: 100px;
    margin-left: 15vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: transparent;
  }

  /* MEDIUM */
  
  .pyramidQuiz {
    height: 1500px;
    max-width: 2400px;
    margin: 0px auto;
    margin-bottom: 60px;
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: whitesmoke;
  }

  /* MEDIUM */

  #pyramidQuizIpad {
    width: 70%;
    border-radius: 5px;
    padding-top: 0px;
    position: relative;
    left: 150px;
    border: solid 3px black;
  }

  /* MEDIUM */

  #pyramidQuizMobile {
    height: 200px;
    border-radius: 5px;
    border: solid 3px black;
    position: relative;
    left: 80px;
    top: 40px;
  }

  /* MEDIUM */

  .pyramidQuizHeading {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 500px;
    height: 60px;
    margin-left: 15vw;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-left: 30px;
  }

  /* MEDIUM */

  .pyramidQuizDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    border-radius: 6px;
    width: 500px;
    height: 300px;
    margin-left: 15vw;
    margin-top: 40px;
    padding: 30px;
  }

  /* MEDIUM */

  .pyramidButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin-left: 15vw;
    margin-top: 100px;
    padding: 30px;
  }

  /* MEDIUM */

  #pyramidViewLiveButton {
    margin-right: 5px;
    font-size: 15pt;
    cursor: pointer;
  }

  /* MEDIUM */

  #pyramidViewCodeButton {
    margin-left: 5px;
    font-size: 15pt;
    cursor: pointer;
  }

  /* MEDIUM */

  #aboutMeLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    margin-left: 15vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: white;
  }

  /* MEDIUM */

  .aboutMe {
    height: 1400px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding-top: 20px;
    background-color: whitesmoke;
  }

  /* MEDIUM */

  .aboutMeHeading {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    margin-left: 15vw;
    margin-top: 100px;
    padding-left: 30px;
  }

  /* MEDIUM */

  .aboutMeDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    border-radius: 6px;
    width: 500px;
    margin-left: 15vw;
    margin-top: 40px;
    padding: 30px;
  }

  /* MEDIUM */

  .goToRodellWarnerButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
  }

  /* MEDIUM */

  #goToRodellWarnerButton {
    font-size: 15pt;
    cursor: pointer;
  }

  /* MEDIUM */

  #contactLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 40pt;
    width: 60vw;
    margin-left: 15vw;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
  }

  /* MEDIUM */

  .contact {
    margin: 0px auto;
    background-color: whitesmoke;
  }

  /* MEDIUM */

  .contactDetails {
    position: relative;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    width: 500px;
    margin-left: 15vw;
    padding: 30px;
  }

  /* MEDIUM */

  .button {
    text-align: center;
    font-weight: 600;
    height: 40px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: transparent;
  }

  /* MEDIUM */

  .footer {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    color: white;
    height: 200px;
    width: 100vw;
    background-color: black;
    position: relative;
    padding-top: 100px;
    bottom: 0;
  }


}







/* SMALL - For device-widths 375 and Lower: */

@media screen and (max-width: 375px) {


  /* unvisited link */
  a:link {
    color: rgb(75, 75, 75);
  }

  /* visited link */
  a:visited {
    color: rgb(153, 153, 153);
  }

  /* mouse over link */
  a:hover {
    color: rgb(187, 187, 187);
  }

  /* selected link */
  a:active {
    color: rgb(41, 41, 41);
  }


  /* SMALL */

  body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0px;
    background-color: white;
    max-width: 2400px;
  }

  /* SMALL */

  main {
    background-color: white;
  }

  /* SMALL */

  #globe {
    width: 60px;
    position: relative;
    left: 100px;
    top: 40px;
    z-index: 2;
  }

  /* SMALL */

  .portraitContainer {
    display: none;
  }

  /* SMALL */

  #portrait {
    display: none;
  }

  /* SMALL */

  #portraitSquare {
    width: 80px;
    height: 80px;
    border-radius: 100%;
    left: 0;
    right: 0;
    top: 60px;
    position: absolute;
    margin: 0 auto;
    margin-top: 0px;
    z-index: 1;
  }

  /* SMALL */

  #palmLeaf {
    width: 200px;
    height: 500 px;
    position: absolute;
    left: 100px;
    top: 0px;
    z-index: 2;
  }

  /* SMALL */

  #rod {
    display: none;
    position: absolute;
    left: 400px;
    top: -450px;
    z-index: 2;
  }

  /* SMALL */

  #pyramid {
    display: none;
    width: 100px;
    position: absolute;
    left: 50%;
    top: 850px;
    z-index: 2;
  }

  /* SMALL */

  .diamond {
    display: none;
    margin-top: 0px;
  }

  /* SMALL */
  
  header {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    text-align: left;
    font-size: 30pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 100vw;
    height: 60px;
    margin-left: 0vw;
    margin-bottom: 0px;
    margin-top: 140px;
    padding-left: 30px;
  }

  /* SMALL */
  
  .bio {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 200;
    text-align: left;
    font-size: 14pt;
    color: black;
    background-color: white;
    border-radius: 6px;
    height: 350px;
    margin-left: 0vw;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 30px;
    padding-top: 0px;
  }

  /* SMALL */

  .arrow {
    font-size: 20pt;
    font-weight: 200;
  }

  /* SMALL */

  #projectsLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 30pt;
    height: 100px;
    margin-left: 0vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: transparent;
  }

  /* SMALL */
  
  .pyramidQuiz {
    height: 1500px;
    max-width: 2400px;
    margin: 0px auto;
    margin-bottom: 60px;
    padding-top: 150px;
    padding-bottom: 0px;
    background-color: whitesmoke;
  }

  /* SMALL */

  #pyramidQuizIpad {
    display: none;
    width: 70%;
    border-radius: 5px;
    padding-top: 0px;
    position: relative;
    left: 150px;
    border: solid 3px black;
  }

  /* SMALL */

  #pyramidQuizMobile {
    height: 475px;
    border-radius: 5px;
    border: solid 3px black;
    position: relative;
    left: 80px;
    top: 40px;
  }

  /* SMALL */

  .pyramidQuizHeading {
    font-weight: 300;
    text-align: left;
    font-size: 30pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    height: 60px;
    margin-left: 0vw;
    margin-bottom: 0px;
    margin-top: 100px;
    padding-left: 30px;
  }

  /* SMALL */

  .pyramidQuizDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 14pt;
    color: black;
    border-radius: 6px;
    height: 300px;
    margin-left: 0vw;
    margin-top: 40px;
    padding: 30px;
  }

  /* SMALL */

  .pyramidButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
    align-items: center;
    margin-left: 0vw;
    margin-top: 100px;
    padding: 30px;
  }

  /* SMALL */

  #pyramidViewLiveButton {
    margin-right: 5px;
    font-size: 12pt;
    cursor: pointer;
  }

  /* SMALL */

  #pyramidViewCodeButton {
    margin-left: 5px;
    font-size: 12pt;
    cursor: pointer;
  }

  /* SMALL */

  #aboutMeLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 30pt;
    margin-left: 0vw;
    padding-left: 30px;
    margin-bottom: 60px;
    background-color: white;
  }

  /* SMALL */

  .aboutMe {
    height: 1400px;
    margin: 0px auto;
    margin-bottom: 30px;
    padding-top: 20px;
    background-color: whitesmoke;
  }

  /* SMALL */

  .aboutMeHeading {
    font-weight: 300;
    text-align: left;
    font-size: 30pt;
    color: black;
    background-color: transparent;
    margin-left: 0vw;
    margin-top: 100px;
    padding-left: 30px;
  }

  /* SMALL */

  .aboutMeDescription {
    position: relative;
    margin-left: 17vw;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 14pt;
    color: black;
    border-radius: 6px;
    margin-left: 0vw;
    margin-top: 40px;
    padding: 30px;
  }

  /* SMALL */

  .goToRodellWarnerButtonContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
  }

  /* SMALL */

  #goToRodellWarnerButton {
    font-size: 12pt;
    cursor: pointer;
  }

  /* SMALL */

  #contactLabel {
    color: dimgray;
    font-weight: 300;
    font-size: 30pt;
    width: 60vw;
    margin-left: 0vw;
    padding-left: 30px;
    margin-bottom: 30px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
  }

  /* SMALL */

  .contact {
    margin: 0px auto;
    background-color: whitesmoke;
  }

  /* SMALL */

  .contactDetails {
    position: relative;
    color: black;
    font-weight: 200;
    text-align: left;
    font-size: 14pt;
    color: black;
    margin-left: 0vw;
    padding: 30px;
  }

  /* SMALL */

  .button {
    text-align: center;
    font-weight: 600;
    height: 40px;
    border: solid 3px black;
    border-radius: 5px;
    background-color: transparent;
  }

  /* SMALL */

  .footer {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    color: white;
    height: 200px;
    width: 100vw;
    background-color: black;
    position: relative;
    padding-top: 100px;
    bottom: 0;
  }

}