* {
  box-sizing: border-box;
}



/* LARGE - For device-widths 768 and Higher: */

@media screen and (min-width: 768px) {



  #container {
    min-height:100%;
    position:relative;
  }

  #globe {
    display: none;
    width: 60px;
    position: relative;
    left: 1100px;
    top: 100px;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url(background-1.png);
    background-size: cover; */
    position: relative;
  }
  
  header {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 500px;
    height: 50px;
    margin-left: 10vw;
    margin-bottom: 1px;
    margin-top: 70px;
    padding: 10px;
  }
  
  .bio {
    font-weight: 200;
    text-align: left;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 500px;
    height: 500px;
    margin-left: 10vw;
    margin-bottom: 1px;
    margin-top: 40px;
    padding: 10px;
  }

  #projectsLabel {
    font-weight: 200;
    font-size: 40pt;
    margin-left: 10vw;
    margin-bottom: 100px;
  }
  
  .pyramidQuiz {
    /* background-image: url(images/pyramid-quiz-background.png);
    background-size: cover;
    font-weight: 200; */
    text-align: center;
    color: white;
    height: 600px;
    width: 90%;
    margin: 0px auto;
    margin-bottom: 1px;
    padding: 10px;
    padding-bottom: 40px;
  }

  #pyramidQuizIpad {
    width: 70%;
    border-radius: 5px;
    padding: 0px;
  }

  #pyramidQuizMobile {
    height: 250px;
    border-radius: 5px;
    border: solid 4px black;
    position: relative;
    right: 80px;
    top: 40px;
  }

  .project2 {
    display: none;
  }

  .nav {
    width: 40vw;
    height: 60px;
  }

  .navUnorderedList {
    color: lightgray;
    position: relative;
    left: 70vw;
  }

  .navList {
    list-style: none;
    display: inline-block;
    font-weight: 200;
    font-size: 30pt;
  }

  #contact {
    padding-left: 20px;
  }
  
  .projectsButton {
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 800px;
    bottom: 400px;
  }

  .cvButton {
    display: none;
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 596px;
    bottom: 300px;
  }

  .contactButton {
    display: none;
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 392px;
    bottom: 200px;
  }

  .footer {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    color: black;
    height: 200px;
    width: 100vw;
    background-color: transparent;
    /* margin: 0 auto;
    padding: 0px; */
    position: relative;
    padding-top: 100px;
    bottom: 0;
  }

}




/* MEDIUM - For device-widths no larger than 768 and no smaller than 481px: */

@media screen and (max-width: 768px) {


  body {
    font-family: 'Source Sans Pro', sans-serif;
  }
  
  .hero {
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: lightgray;
    width: 90%;
    font-size: 20pt;
    margin: 0 auto;
    margin-bottom: 1px;
  }
  
  .nav {
    font-weight: 200;
    text-align: center;
    color: white;
    width: 90%;
    height: 30px;
    background-color: lightgray;
    margin: 0 auto;
    margin-bottom: 1px;
  }
  
  .bio {
    font-weight: 200;
    text-align: center;
    color: white;
    background-color: gray;
    width: 90%;
    height: 200px;
    margin: 0px auto;
    margin-bottom: 1px;
    padding: 10px;
  }
  
  .project {
    font-weight: 200;
    text-align: center;
    color: white;
    height: 200px;
    width: 90%;
    background-color: darkgrey;
    margin: 0px auto;
    margin-bottom: 1px;
    padding: 10px;
  }

  .projectsButton {
    display: none;
  }

  .cvButton {
    display: none;
  }

  .contactButton {
    display: none;
  }
  
  .footer {
    font-weight: 200;
    text-align: center;
    color: white;
    width: 100%;
    height: 30px;
    background-color: lightgray;
    margin: 0 auto;
    padding: 0px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    margin: 0 auto;
  }

}







/* SMALL - For device-widths 480 and Lower: */

@media screen and (max-width: 375px) {


  #container {
    min-height:100%;
    position:relative;
  }

  #globe {
    width: 90px;
    margin-left: 5vw;
    margin-top: 50px;
  }

  #blackHole {
    position: relative;
    left: 200px;
    top: 800px;
  }

  body {
    font-family: 'Source Sans Pro', sans-serif;
    /* background-image: url(background-1.png);
    background-size: cover; */
    position: relative;
  }
  
  header {
    font-weight: 300;
    text-align: left;
    font-size: 40pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 90vw;
    height: 80px;
    margin-left: 10vw;
    margin-top: 20px;
    padding: 10px;
  }
  
  .bio {
    font-weight: 200;
    text-align: left;
    font-size: 15pt;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    width: 80vw;
    height: 500px;
    margin-left: 10vw;
    margin-bottom: 60px;
    margin-top: 0px;
    padding: 10px;
    padding-bottom: 30px;
    padding-top: 0px;
  }

  #projectsLabel {
    text-align: center;
    font-weight: 200;
    font-size: 40pt;
    margin-top: 80px;
    margin-bottom: 80px;
    padding: 40px;
  }

  .project {
    background-color: transparent;
  }
  
  .pyramidQuiz {
    text-align: center;
    color: white;
    height: 600px;
    width: 100vw;
    margin: 0px auto;
    margin-bottom: 1px;
    padding: 10px;
    padding-bottom: 40px;
  }

  #pyramidQuizIpad {
    width: 90vw;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #pyramidQuizMobile {
    margin: 0 auto;
    width: 60vw;
    border-radius: 5px;
    border: solid 4px black;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .project2 {
    display: none;
  }

  .nav {
    display: none;
    width: 40vw;
    height: 60px;
  }

  .navUnorderedList {
    color: lightgray;
    position: relative;
    left: 70vw;
  }

  .navList {
    list-style: none;
    display: inline-block;
    font-weight: 200;
    font-size: 30pt;
  }

  #contact {
    padding-left: 20px;
  }
  
  .projectsButton {
    display: none;
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 800px;
    bottom: 400px;
  }

  .cvButton {
    display: none;
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 596px;
    bottom: 300px;
  }

  .contactButton {
    display: none;
    font-weight: 200;
    width: 200px;
    height: 80px;
    border-radius: 6px;
    border: solid 1px black;
    font-size: 20pt;
    color: black;
    background-color: transparent;
    margin: 0 0 0 0px;
    position: relative;
    left: 392px;
    bottom: 200px;
  }

  .footer {
    font-weight: 200;
    font-size: 20pt;
    text-align: center;
    color: black;
    height: 200px;
    width: 100vw;
    background-color: transparent;
    /* margin: 0 auto;
    padding: 0px; */
    position: relative;
    padding-top: 100px;
    bottom: 0;
    margin-top: 40px;
  }


}